body{
    background-color: rgb(53, 67, 79);
    cursor:grabbing;
}

#txt{
    /* border: 2px solid red; */
    /* margin: ; */
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans,serif, Times, Georgia, 'Times New Roman';
    font-size: 3rem;
    text-align: center;
    color: rgb(128, 163, 195);

}
.followers{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 20px;
    height: 20px;
    /* background-color: rgb(6, 255, 31); */
    border-radius: 50%;
}
#follow1{
    background-color: rgb(6, 255, 31);
    transition: all 1200ms cubic-bezier(0.08, 0, 0.78, 1.32);
}
#follow2{
    background-color: rgb(255, 251, 6);
    transition: all 700ms cubic-bezier(0.08, 0, 0.78, 1.32);
}
#follow3{
    background-color: rgb(255, 48, 6);
    transition: all 200ms cubic-bezier(0.08, 0, 0.78, 1.32);
}