body{
    background-color: rgb(53, 67, 79);
    cursor:grabbing;
}

#txt{
    /* border: 2px solid red; */
    /* margin: ; */
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans,serif, Times, Georgia, 'Times New Roman';
    font-size: 3rem;
    text-align: center;
    color: rgb(128, 163, 195);

}
#follow{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(6, 255, 31);
    border-radius: 50%;
}