body{
    background-color: rgb(53, 67, 79);
    cursor:wait;
}

#txt{
    border: 2px solid red;
    /* margin: ; */
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    color: rgb(128, 163, 195);

}